In [1]:
from load_wordbank_data import read_and_clean_wordbank_data
from wordbank_logistic_fits import compute_curve_fits, plot_curve_fits, compute_and_export_curve_fits

In [2]:
split_dict_WS = {'old_item_definition':'inside/in',
              'new_item_definitions':['inside', 'in'],
              'new_lemmas':['inside', 'in']
              }
# The function expects an iterable of dicts for items_to_split; wrap the dict in a list
df_WS = read_and_clean_wordbank_data('~/Desktop/LingPredict data/wordbank_data_WS_Produces_en_US.csv',
                                        '~/Desktop/LingPredict data/uni_lemmas_WS_en_US.csv',
                                        lang='en', inventory='WS', measure='Produces',
                                        items_to_split=[split_dict_WS], cols_to_drop=['28']
                                      )
df_WG = read_and_clean_wordbank_data('~/Desktop/LingPredict data/wordbank_data_WG_Produces_en_US.csv',
                                        '~/Desktop/LingPredict data/uni_lemmas_WG_en_US.csv',
                                        lang='en', inventory='WG', measure='Produces',
                                      )
df_WG_U = read_and_clean_wordbank_data('~/Desktop/LingPredict data/wordbank_data_WG_Understands_en_US.csv',
                                        '~/Desktop/LingPredict data/uni_lemmas_WG_en_US.csv',
                                        lang='en', inventory='WG', measure='Understands',
                                      )

In [3]:
display(df_WS.head())
display(df_WS.tail())

,item_id,l1,inventory,measure,uni_lemma,token,category,16,17,18,...,20,21,22,23,24,25,26,27,29,30
0,1,en,WS,Produces,baa baa,baa baa,sounds,0.46,0.52,0.55,...,0.69,0.70,0.66,0.78,0.78,0.78,0.79,0.82,0.80,0.79
1,2,en,WS,Produces,choo choo,choo choo,sounds,0.27,0.32,0.39,...,0.56,0.60,0.67,0.71,0.76,0.84,0.81,0.85,0.85,0.88
2,3,en,WS,Produces,cockadoodledoo,cockadoodledoo,sounds,0.13,0.10,0.14,...,0.22,0.29,0.31,0.37,0.43,0.45,0.49,0.53,0.54,0.58
3,4,en,WS,Produces,grrr,grrr,sounds,0.54,0.50,0.54,...,0.61,0.65,0.63,0.73,0.76,0.76,0.75,0.80,0.79,0.80
4,5,en,WS,Produces,meow,meow,sounds,0.49,0.47,0.55,...,0.69,0.75,0.76,0.80,0.86,0.88,0.88,0.91,0.91,0.92

,item_id,l1,inventory,measure,uni_lemma,token,category,16,17,18,...,20,21,22,23,24,25,26,27,29,30
676,678,en,WS,Produces,if,if,connecting_words,0.00,0.02,0.02,...,0.01,0.01,0.03,0.04,0.04,0.07,0.09,0.12,0.21,0.22
677,679,en,WS,Produces,so,so,connecting_words,0.00,0.03,0.02,...,0.03,0.04,0.07,0.08,0.10,0.12,0.15,0.23,0.29,0.33
678,680,en,WS,Produces,then,then,connecting_words,0.00,0.02,0.01,...,0.02,0.02,0.02,0.07,0.07,0.08,0.15,0.19,0.28,0.30
679,623,en,WS,Produces,inside,inside,locations,0.07,0.07,0.13,...,0.19,0.23,0.35,0.44,0.49,0.55,0.60,0.63,0.70,0.72
680,623,en,WS,Produces,in,in,locations,0.07,0.07,0.13,...,0.19,0.23,0.35,0.44,0.49,0.55,0.60,0.63,0.70,0.72

In [4]:
display(df_WG.head())
display(df_WG.tail())

,item_id,l1,inventory,measure,uni_lemma,token,category,8,9,10,11,12,13,14,15,16,17,18
0,34,en,WG,Produces,baa baa,baa baa,sounds,0.18,0.22,0.25,0.23,0.26,0.26,0.35,0.35,0.45,0.50,0.59
1,35,en,WG,Produces,choo choo,choo choo,sounds,0.02,0.02,0.02,0.02,0.05,0.06,0.08,0.16,0.27,0.31,0.37
2,36,en,WG,Produces,cockadoodledoo,cockadoodledoo,sounds,0.01,0.01,0.02,0.02,0.01,0.02,0.03,0.08,0.13,0.14,0.19
3,37,en,WG,Produces,grrr,grrr,sounds,0.05,0.09,0.18,0.16,0.17,0.26,0.27,0.33,0.52,0.50,0.57
4,38,en,WG,Produces,meow,meow,sounds,0.01,0.04,0.05,0.06,0.10,0.16,0.18,0.27,0.48,0.50,0.57

,item_id,l1,inventory,measure,uni_lemma,token,category,8,9,10,11,12,13,14,15,16,17,18
391,425,en,WG,Produces,none,none,quantifiers,0.0,0.01,0.01,0.02,0.01,0.01,0.02,0.02,0.01,0.03,0.03
392,426,en,WG,Produces,not,not,quantifiers,0.0,0.00,0.01,0.01,0.01,0.01,0.02,0.02,0.01,0.02,0.03
393,427,en,WG,Produces,other,other,quantifiers,0.0,0.01,0.01,0.02,0.01,0.00,0.01,0.01,0.00,0.02,0.03
394,428,en,WG,Produces,same,same,quantifiers,0.0,0.01,0.01,0.02,0.01,0.00,0.01,0.02,0.01,0.02,0.02
395,429,en,WG,Produces,some,some,quantifiers,0.0,0.00,0.01,0.02,0.02,0.01,0.02,0.04,0.03,0.03,0.04

In [5]:
display(df_WG_U.head())
display(df_WG_U.tail())

,item_id,l1,inventory,measure,uni_lemma,token,category,8,9,10,11,12,13,14,15,16,17,18
0,34,en,WG,Understands,baa baa,baa baa,sounds,0.35,0.37,0.45,0.42,0.45,0.46,0.57,0.57,0.68,0.72,0.74
1,35,en,WG,Understands,choo choo,choo choo,sounds,0.15,0.14,0.18,0.19,0.25,0.31,0.33,0.47,0.57,0.59,0.63
2,36,en,WG,Understands,cockadoodledoo,cockadoodledoo,sounds,0.10,0.07,0.10,0.10,0.15,0.18,0.21,0.31,0.44,0.44,0.49
3,37,en,WG,Understands,grrr,grrr,sounds,0.17,0.18,0.30,0.28,0.34,0.45,0.46,0.54,0.70,0.65,0.76
4,38,en,WG,Understands,meow,meow,sounds,0.22,0.30,0.31,0.39,0.42,0.57,0.56,0.66,0.80,0.77,0.83

,item_id,l1,inventory,measure,uni_lemma,token,category,8,9,10,11,12,13,14,15,16,17,18
391,425,en,WG,Understands,none,none,quantifiers,0.04,0.05,0.06,0.08,0.08,0.07,0.11,0.15,0.19,0.22,0.25
392,426,en,WG,Understands,not,not,quantifiers,0.04,0.03,0.04,0.05,0.07,0.07,0.09,0.14,0.19,0.17,0.23
393,427,en,WG,Understands,other,other,quantifiers,0.02,0.02,0.03,0.04,0.05,0.04,0.05,0.12,0.14,0.14,0.15
394,428,en,WG,Understands,same,same,quantifiers,0.02,0.02,0.04,0.05,0.06,0.02,0.06,0.08,0.07,0.13,0.15
395,429,en,WG,Understands,some,some,quantifiers,0.04,0.05,0.06,0.08,0.09,0.11,0.12,0.19,0.28,0.21,0.24

In [6]:
print(df_WG_U['token'].isin(df_WS['token']).all())

True

In [7]:
dfs = [df_WS, df_WG, df_WG_U]
df_curve_fits = compute_curve_fits(dfs)

/Users/samschiavone/github/fall-2025-developmental-norms-and-language-acquisition/wordbank_logistic_fits.py:204: UserWarning: DataFrame columns are not unique, some columns will be omitted.
  other_dicts.append(odf.set_index(match_col).T.to_dict('series'))
/Users/samschiavone/github/fall-2025-developmental-norms-and-language-acquisition/wordbank_logistic_fits.py:204: UserWarning: DataFrame columns are not unique, some columns will be omitted.
  other_dicts.append(odf.set_index(match_col).T.to_dict('series'))

In [8]:
# plot_curve_fits(df_curve_fits)

In [9]:
print(df_curve_fits.sort_values(by='median_aoa', ascending=True)[['uni_lemma', 'growth_rate', 'median_aoa']].head(10))

     uni_lemma  growth_rate  median_aoa
365      mommy     0.220593    8.074728
355      daddy     0.215299    8.251637
377        bye     0.246705   11.151325
69        ball     0.317257   12.201872
384         hi     0.174020   12.265096
388         no     0.221803   12.282161
8        uh oh     0.278450   12.773596
25         dog     0.238315   13.126406
73        book     0.210188   13.984029
10   woof woof     0.240831   14.621542

In [10]:
df_curve_fits.head()

,uni_lemma,token,l1,category,growth_rate,median_aoa,__plot_data__
0,baa baa,baa baa,en,sounds,0.137539,15.406586,Age Proportion Acquired inventory mea...
1,choo choo,choo choo,en,sounds,0.230225,18.902117,Age Proportion Acquired inventory mea...
2,cockadoodledoo,cockadoodledoo,en,sounds,0.140595,26.702582,Age Proportion Acquired inventory mea...
3,grrr,grrr,en,sounds,0.171473,16.702647,Age Proportion Acquired inventory mea...
4,meow,meow,en,sounds,0.231985,15.753742,Age Proportion Acquired inventory mea...

In [ ]:
compute_and_export_curve_fits('~/Desktop/wordbank_en_logistic_fits.csv', dfs)

/Users/samschiavone/github/fall-2025-developmental-norms-and-language-acquisition/wordbank_logistic_fits.py:204: UserWarning: DataFrame columns are not unique, some columns will be omitted.
  other_dicts.append(odf.set_index(match_col).T.to_dict('series'))
/Users/samschiavone/github/fall-2025-developmental-norms-and-language-acquisition/wordbank_logistic_fits.py:204: UserWarning: DataFrame columns are not unique, some columns will be omitted.
  other_dicts.append(odf.set_index(match_col).T.to_dict('series'))

'Curve fits written to ~/Desktop/wordbank_en_logistc_fits.csv'